.header {
    display: flex;
    justify-content: space-between;

    margin: 40px 0 80px
}


.skipLink {
    border-radius: 4px;
    font-size: 22px;
    line-height: 26px;
    background: #C7D2E9;
    padding: 13px 40px;
    position: absolute;
    top: -200px;
    transition: top 0.2s;
    z-index: 100;
}

.skipLink:focus {
    top: 20px;
}

.search {
    align-items: center;
    box-sizing: border-box;
    color: #000;
    display: inline-flex;
    font-size: 16px;
    padding: 0 20px;
    position: relative;

    background: #F9F9FB;
    border: 1px solid #C7D2E9;
    border-radius: 26px;

    margin-right: 18px;
}

.searchInput {
    margin: 0 20px;
    flex: 1;
    display: block;
    width: 100%;
    min-width: 0;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    font: inherit;
    border: 0;
    outline: none;
    color: inherit;
    background: none;
    background-color: transparent;
    -webkit-font-smoothing: inherit;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: text;
}

.languageSwitch {
    display: inline-block;

    background: #C7D2E9;
    border-radius: 4px;

    padding: 13px 18px;
    font-size: 22px;
    line-height: 26px;
    margin-right: 48px;
}

.containerHeader {
    display: flex;
    align-items: center;
}

.buttonAuth {
    border: none;
    background: transparent;
}

.logoSearch {
    box-shadow: 0 0 0 1px red;
}
